{% extends '@Core/main.html.twig' %}

{% block content -%}
    <div class="row" style="margin-top: 10px">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('node_manager') }}">Контент</a></li>
                <li class="active">Категории</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1>Категории контента</h1>

            <div class="row" style="margin-bottom: 20px;">
                <div class="col-lg-12">
                    <div class="btn-group pull-right">
                        <a href="{{ path('node_cat_new') }}" class="btn btn-success">Добавить категорию</a>
                    </div>
                </div>
            </div>

            <table class="table table-bordered table-condensed table-hover table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Slug</th>
                    <th>Datecreated</th>
                    <th>Main</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('node_cat_show', { 'slug': entity.slug }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.title }}</td>
                        <td>{{ entity.slug }}</td>
                        <td>{% if entity.dateCreated %}{{ entity.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ entity.main }}</td>
                        <td>
                            <a href="{{ path('node_cat_edit', { 'id': entity.id }) }}">edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
