{% extends 'CoreBundle::main.html.twig' %}

{% block content -%}

    <div class="row">
        <div class="col-lg-12">
            <h1>{{ entity.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {{ entity.main|raw }}
        </div>
    </div>

    {% if last_post %}
        {% for item in last_post %}
    <div class="row">
        <div class="col-lg-12">
            <h4>
                <a href="{{ path('node_show_blog_page', {'slug': item.slug}) }}">
                    {{ item.title }}
                </a>
            </h4>
            {{ item.shortMain }}
        </div>
    </div>
        {% endfor %}
    {% endif %}
{% endblock %}