{% extends '@Core/main.html.twig' %}

{% block level_scripts %}
    <script src="{{ asset('bundles/node/js/gallery.js') }}"></script>
{% endblock %}

{% block content -%}
    <div class="row" style="margin-top: 10px">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('node_manager') }}">Контент</a></li>
                <li class="active">Создать</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h1>Добавить контент</h1>

            {{ form_start(form) }}

            <div class="form-group {% if form_errors(form.category) %}has-error{% endif %}">
                <label for="">Категория</label>
                {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.category) %}
                    <p class="help-block text-danger">
                        {{ form_errors(form.category) }}
                    </p>
                {% endif %}
            </div>

            <div class="form-group {% if form_errors(form.title) %}has-error{% endif %}">
                <label for="">Заголовок</label>
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.title) %}
                    <p class="help-block text-danger">
                        {{ form_errors(form.title) }}
                    </p>
                {% endif %}
            </div>

            <div class="form-group {% if form_errors(form.short_main) %}has-error{% endif %}">
                <label for="">Анотация</label>
                {{ form_widget(form.short_main, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.short_main) %}
                    <p class="help-block text-danger">
                        {{ form_errors(form.short_main) }}
                    </p>
                {% endif %}
            </div>

            <div class="form-group {% if form_errors(form.main) %}has-error{% endif %}">
                <label for="">Содержание</label>
                {{ form_widget(form.main) }}
                {% if form_errors(form.main) %}
                    <p class="help-block text-danger">
                        {{ form_errors(form.main) }}
                    </p>
                {% endif %}
            </div>

            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}

            {{ form_end(form) }}
        </div>

        <div class="col-lg-6">
            {{ render(controller('NodeBundle:Gallery:form')) }}
        </div>
    </div>
{% endblock %}
